# <span style="color:orange">VECTORS</span>

In [10]:
vv = c()
vv

NULL

In [11]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [13]:
v1[1]

[1] 10

In [14]:
length(v1)

[1] 5

In [16]:
dim(v1)

NULL

In [17]:
v1[ length( v1 )-2 ]

[1] 30

In [20]:
is.vector(v1)

[1] TRUE

In [ ]:
is.vector(v1) == T

[1] TRUE

In [24]:
is.data.frame(v1)

[1] FALSE

In [25]:
v.month = 100
print(v.month)

[1] 100

In [26]:
is.list(v1)

[1] FALSE

In [27]:
class(v1)

[1] "numeric"

In [29]:
class( c("a","b","c","d","ee") )

[1] "character"

In [30]:
typeof(v1)

[1] "double"

In [31]:
typeof(c("a","b","c","d","e"))

[1] "character"

In [32]:
length(v1)

[1] 5

In [33]:
v4 = c("a",1,"b","cc",3,4,4,4,5)
typeof(v4)

[1] "character"

In [34]:
v4

[1] "a"  "1"  "b"  "cc" "3"  "4"  "4"  "4"  "5"

In [35]:
"aaaa"

[1] "aaaa"

In [36]:
typeof("aaaaa")

[1] "character"

In [37]:
class("aaaaa")

[1] "character"

In [38]:
is.vector("aaaa")

[1] TRUE

In [39]:
s1 = 'aaaaa'
s1[1]

[1] "aaaaa"

In [40]:
length(s1)

[1] 1

In [42]:
seq(1,10,by=1)

 [1]  1  2  3  4  5  6  7  8  9 10

In [43]:
is.vector(1:10)

[1] TRUE

In [44]:
print(1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

## slice operator to access a set of indices

In [41]:
v1[1:3]

[1] 10 20 30

In [42]:
c( v1[1], v1[2], v1[3] )

[1] 10 20 30

In [43]:
v1[1:3]

[1] 10 20 30

In [44]:
v1[ c(1,3) ]

[1] 10 30

In [46]:
inds = c(1,3,4,7,77)
v1[ inds ]

[1] 10 30 40 NA NA

In [47]:
mean(c(1,2,3,4,5,6, NA))

[1] NA

In [52]:
help(mean)

mean                   package:base                    R Documentation

_A_r_i_t_h_m_e_t_i_c _M_e_a_n

_D_e_s_c_r_i_p_t_i_o_n:

     Generic function for the (trimmed) arithmetic mean.

_U_s_a_g_e:

     mean(x, ...)

     ## Default S3 method:
     mean(x, trim = 0, na.rm = FALSE, ...)

_A_r_g_u_m_e_n_t_s:

       x: an R object.  Currently there are methods for numeric/logical
          vectors and date, date-time and time interval objects.
          Complex vectors are allowed for ‘trim = 0’, only.

    trim: the fraction (0 to 0.5) of observations to be trimmed from
          each end of ‘x’ before the mean is computed.  Values of trim
          outside that range are taken as the nearest endpoint.

   na.rm: a logical evaluating to ‘TRUE’ or ‘FALSE’ indicating whether
          ‘NA’ values should be stripped before the computation
          proceeds.

     ...: further arguments passed to or from other methods.

_V_a_l_u_e:

     If ‘trim’ is zero (the default), the arithmetic mean of the values
     in ‘x’ is computed, as a numeric or complex vector of length one.
     If ‘x’ is not logical (coerced to numeric), numeric (including
     integer) or complex, ‘NA_real_’ is returned, with a warning.

     If ‘trim’ is non-zero, a symmetrically trimmed mean is computed
     with a fraction of ‘trim’ observations deleted from each end
     before the mean is computed.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘weighted.mean’, ‘mean.POSIXct’, ‘colMeans’ for row and column
     means.

_E_x_a_m_p_l_e_s:

     x <- c(0:10, 50)
     xm <- mean(x)
     c(xm, mean(x, trim = 0.10))

In [48]:
mean(c(1,2,3,4,5,6, NA), na.rm = TRUE)

[1] 3.5

In [49]:
v1

[1] 10 20 30 40 50

In [50]:
v1[12] = 2020
v1

 [1]   10   20   30   40   50   NA   NA   NA   NA   NA   NA 2020

## operations on a vector

In [57]:
v1 + 1

 [1]   11   21   31   41   51   NA   NA   NA   NA   NA   NA 2021

In [58]:
v1 * 2

 [1]   20   40   60   80  100   NA   NA   NA   NA   NA   NA 4040

In [59]:
v1 ^ 2

 [1]     100     400     900    1600    2500      NA      NA      NA      NA
[10]      NA      NA 4080400

In [51]:
sum( v1, na.rm = T ) ^ 2

[1] 4708900

In [63]:
v1 + v1

 [1]   20   40   60   80  100   NA   NA   NA   NA   NA   NA 4040

In [64]:
v1 * v1 #elementwise

 [1]     100     400     900    1600    2500      NA      NA      NA      NA
[10]      NA      NA 4080400

In [65]:
print(v1 * v1)

 [1]     100     400     900    1600    2500      NA      NA      NA      NA
[10]      NA      NA 4080400

In [66]:
sum( v1 ) * sum( v1 )

[1] NA

In [52]:
v1

 [1]   10   20   30   40   50   NA   NA   NA   NA   NA   NA 2020

In [59]:
#what happens if we try to add a vector that is not the same length???
v1 + c(10,-3)
#a 'warning', not an 'error' but it >CYCLES< through the set with less (making lengths equal)

 [1]   20   17   40   37   60   NA   NA   NA   NA   NA   NA 2017

In [60]:
v1 * c(1,1/100)

 [1] 10.0  0.2 30.0  0.4 50.0   NA   NA   NA   NA   NA   NA 20.2

In [61]:
c(1,2,3,4) * c(1,1/100)

[1] 1.00 0.02 3.00 0.04

In [54]:
v1 * c(1,1/100) + c(100,10,1)

 [1] 110.0  10.2  31.0 100.4  60.0    NA    NA    NA    NA    NA    NA  21.2

In [63]:
v1 + v1[1:2]

 [1]   20   40   40   60   60   NA   NA   NA   NA   NA   NA 2040

In [64]:
v1 + v1[1:2] + v1[1:3]

 [1]   30   60   70   70   80   NA   NA   NA   NA   NA   NA 2070

In [65]:
v1 + v1[1:2] + v1[1:5]

Warning message in v1 + v1[1:2] + v1[1:5]:
“longer object length is not a multiple of shorter object length”

 [1]   30   60   70  100  110   NA   NA   NA   NA   NA   NA 2060

In [66]:
v1 * v1[1:3]

 [1]   100   400   900   400  1000    NA    NA    NA    NA    NA    NA 60600

## reassigning values
### note it is common in R to set a datastructure values to be according to values returned from operations on it

In [67]:
v1 = v1 / 1000
v1

 [1] 0.01 0.02 0.03 0.04 0.05   NA   NA   NA   NA   NA   NA 2.02

In [68]:
v1[1] = v1[length(v1)] * 2
v1

 [1] 4.04 0.02 0.03 0.04 0.05   NA   NA   NA   NA   NA   NA 2.02

In [55]:
v1 = c(10,20,30,40,50)

In [61]:
#cannot treat like a list with nestings
v1[c(1,15)] = c(-1,-10,-100)
v1

Warning message in v1[c(1, 15)] = c(-1, -10, -100):
“number of items to replace is not a multiple of replacement length”

 [1]   -1  -10   30  -10 -100   NA   NA   NA   NA   NA   NA   NA   NA   NA  -10

In [62]:
v1 = c(10,20,30,40,50)

In [63]:
v1[3]

[1] 30

In [64]:
v1[3] = 33
v1

[1] 10 20 33 40 50

In [65]:
v1[3] = 3

In [66]:
v1[3] = v1[1] + ( v1[2] * 3 ) + ( v1[3] / 10 )^2
v1

[1] 10.00 20.00 70.09 40.00 50.00

In [67]:
v1[3] = 3

In [68]:
v1

[1] 10 20  3 40 50

In [69]:
v1 = c(10,20,30,40,50)

In [70]:
v1[c(6,7)] = c(60,70)
v1

[1] 10 20 30 40 50 60 70

In [71]:
v1 = c(10,20,30,40,50)

## including more values to the vector

In [72]:
v1 = append(v1, 60)
v1

[1] 10 20 30 40 50 60

In [73]:
v1 = append( v1, c(70,80) )
v1

[1] 10 20 30 40 50 60 70 80

In [74]:
v1 = append( v1, c(70,80) )
v1

 [1] 10 20 30 40 50 60 70 80 70 80

In [77]:
v1 = c(v1,90,100,110)
v1

 [1]  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30
[20]  40  50  60  70  80  70  80  90 100 110  90 100 110

In [78]:
v1 = c(v1,v1)
v1

 [1]  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30
[20]  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30  40  50  60
[39]  70  80  70  80  90 100 110  90 100 110  10  20  30  40  50  60  70  80  70
[58]  80  90 100 110  90 100 110

In [79]:
v1 = c(1,2,3,v1)
v1

 [1]   1   2   3  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110
[20]  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30
[39]  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30  40  50  60
[58]  70  80  70  80  90 100 110  90 100 110

In [80]:
v1 = append(1,v1)
v1

 [1]   1   1   2   3  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100
[20] 110  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20
[39]  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30  40  50
[58]  60  70  80  70  80  90 100 110  90 100 110

## indexing beyond the length

In [81]:
v1[ length(v1) + 4] = 555
v1

 [1]   1   1   2   3  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100
[20] 110  10  20  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20
[39]  30  40  50  60  70  80  70  80  90 100 110  90 100 110  10  20  30  40  50
[58]  60  70  80  70  80  90 100 110  90 100 110  NA  NA  NA 555

In [82]:
v1 = c(10,20,30,40,50)

## negative indexing ignores an element index but returns the full vector set

In [83]:
print( v1[1] )
print( v1[-1] )

[1] 10

[1] 20 30 40 50

In [84]:
v1[-1]

[1] 20 30 40 50

In [85]:
v1[-3]

[1] 10 20 40 50

In [86]:
v1[-c(1,3)]

[1] 20 40 50

In [87]:
v1

[1] 10 20 30 40 50

In [88]:
print( v1[3] )
print( v1[-3] )

[1] 30
[1] 10 20 40 50

In [89]:
print( v1[c(3,4)] )
print( v1[c(-3,-4)] )

[1] 30 40
[1] 10 20 50

In [90]:
print( v1[2:4] )
print( v1[-2:-4] )

[1] 20 30 40

[1] 10 50

In [91]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

## Finding elements

In [92]:
which( v1 == 30)

[1] 3

In [93]:
ind = which( v1 == 20)
v1[ind]

[1] 20

In [94]:
v1[ which( v1 == 30) ]

[1] 30

In [95]:
v1[ which( v1 >= 30) ]

[1] 30 40 50

In [96]:
which(v1>=30)

[1] 3 4 5

In [97]:
inds_tmp  = which( v1 >= 30 )
v1[ inds_tmp ]

[1] 30 40 50

In [98]:
mean( v1,  na.rm = TRUE )

[1] 30

In [100]:
v1 >= 30

[1] FALSE FALSE  TRUE  TRUE  TRUE

In [101]:
tmp = v1 >= 30
which(tmp)

[1] 3 4 5

In [105]:
v1[ v1 >= 30 ]

[1] 30 40 50

In [102]:
v1

[1] 10 20 30 40 50

In [109]:
v1[ c(T,F) ]

[1] 10 30 50

In [110]:
which( v1 >= 30 )

[1] 3 4 5

In [111]:
v1 >= 30

[1] FALSE FALSE  TRUE  TRUE  TRUE

In [112]:
v1 != 30

[1]  TRUE  TRUE FALSE  TRUE  TRUE

In [113]:
as.numeric( v1 != 30 )

[1] 1 1 0 1 1

In [114]:
as.logical( as.numeric( v1 != 30 ) )

[1]  TRUE  TRUE FALSE  TRUE  TRUE

In [116]:
v1[ as.numeric( v1 != 30 ) ]

[1] 10 10 10 10

In [117]:
v_tmp = v1 != 30

In [120]:
-1 * (as.numeric(v_tmp) - 1)

[1] 0 0 1 0 0

In [121]:
v2 = c(1,2,3,2)
which( v2 == 2 )

[1] 2 4

In [122]:
as.numeric( TRUE )

[1] 1

In [123]:
v1[ which( c(TRUE,T,F,FALSE,T)  ) ]

[1] 10 20 50

In [124]:
v1[ which( as.numeric( v1 != 30 ) > 0 ) ]

[1] 10 20 40 50

In [125]:
v1

[1] 10 20 30 40 50

In [126]:
which(v1>=40)

[1] 4 5

## deleting elements from a vector

In [127]:
#set to itself without the indexed element
v1 = v1[-3]
v1

[1] 10 20 40 50

In [128]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [129]:
v1 = v1[c(-3,-5)]
v1

[1] 10 20 40

In [130]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [132]:
v1 = v1[ v1 != 20 ]
v1

[1] 10 30 40 50

In [133]:
v1 = c(10,20,30,40,50)

In [134]:
v1 = v1[ v1 < 30 ]
v1

[1] 10 20

In [135]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [136]:
v1 %in% c(-222,20,40)

[1] FALSE  TRUE FALSE  TRUE FALSE

In [137]:
sum( as.numeric( v1 %in% c(-222,20,40) ) ) > 0

[1] TRUE

In [138]:
v1 = v1[ v1 %in% c(-222,20,40) ]
v1

[1] 20 40

In [139]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [140]:
v1 = v1[ !(v1 %in% c(-222,20,40)) ]
v1

[1] 10 30 50

In [141]:
!( v1 %in% c(-222,20,40) )

[1] TRUE TRUE TRUE

## named vectors

In [142]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [143]:
names(v1)

NULL

In [147]:
names(v1) = c("first","second","third","fourth","fifth")
v1

 first second  third fourth  fifth
    10     20     30     40     50

In [148]:
v1

 first second  third fourth  fifth
    10     20     30     40     50

In [149]:
v1[2]

second
    20

In [150]:
names(v1)

[1] "first"  "second" "third"  "fourth" "fifth"

In [151]:
v1["second"]

second
    20

In [152]:
names(v1["second"])

[1] "second"

In [154]:
v1["second"][1]

second
    20

In [155]:
v1["second"][1] + 10

second
    30

In [156]:
v1 + v1

 first second  third fourth  fifth
    20     40     60     80    100

In [144]:
v1["second"][[1]]

[1] 20

In [159]:
v1[3]

third
   30

In [160]:
names( v1[3] )

[1] "third"

In [161]:
names( v1[3] ) = "3rd"

In [162]:
v1[3][[1]] = 3000

In [163]:
v1

 first second  third fourth  fifth
    10     20   3000     40     50

In [164]:
v1 = c(ten=10,twenty=20,thirty=30,forty=40,fifty=50, fifty=60)
v1

   ten twenty thirty  forty  fifty  fifty
    10     20     30     40     50     60

In [165]:
v1[3][[1]]

[1] 30

In [166]:
v1[[3]]

[1] 30

In [167]:
#remove names
names(v1) = NULL
v1

[1] 10 20 30 40 50 60

In [172]:
v1 = c(ten=10,twenty=20,thirty=30,forty=40,fifty=50, "a"=60)
v1

   ten twenty thirty  forty  fifty      a
    10     20     30     40     50     60

In [173]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [174]:
v1a = c(ten=10,twenty=20,thirty=30,forty=40,fifty=50)
v1b = v1
names(v1b) = c("first","second","third","fourth","fifth")

v1c = v1a + v1b
print(v1c)
print(v1b)

   ten twenty thirty  forty  fifty
    20     40     60     80    100
 first second  third fourth  fifth
    10     20     30     40     50

In [175]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [176]:
v1

[1] 10 20 30 40 50

In [177]:
names(v1[3])

NULL

## sequences and repetition

In [157]:
seq(1, 100, by=10)

 [1]  1 11 21 31 41 51 61 71 81 91

In [158]:
seq(0, 100, by=10)

 [1]   0  10  20  30  40  50  60  70  80  90 100

In [159]:
seq(0, -100, by=-10)

 [1]    0  -10  -20  -30  -40  -50  -60  -70  -80  -90 -100

In [160]:
0:-10 #shorthand for seq

 [1]   0  -1  -2  -3  -4  -5  -6  -7  -8  -9 -10

In [161]:
rep(12,4)

[1] 12 12 12 12

In [162]:
rep(12, times=4)

[1] 12 12 12 12

In [163]:
rep("abc", times=4)

[1] "abc" "abc" "abc" "abc"

In [164]:
1:3:12

Warning message in 1:3:12:
“numerical expression has 3 elements: only the first used”

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

## sorting

In [165]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [166]:
sort( v1 , decreasing=TRUE )

[1] 50 40 30 20 10

In [167]:
res = sort( v1 , decreasing=TRUE, index.return = TRUE )
res

$x
[1] 50 40 30 20 10

$ix
[1] 5 4 3 2 1

In [168]:
is.data.frame(res)

[1] FALSE

In [169]:
is.list(res)

[1] TRUE

In [170]:
res$ix

[1] 5 4 3 2 1

In [171]:
res["ix"]

$ix
[1] 5 4 3 2 1

In [172]:
res[["ix"]]

[1] 5 4 3 2 1

In [173]:
v1[ res$ix ]

[1] 50 40 30 20 10

In [174]:
v_tmp = c(11,1,2,3,0,4)
inds = sort( v_tmp, decreasing=FALSE, index.return = TRUE )$ix
v_tmp[ inds ]

[1]  0  1  2  3  4 11

In [175]:
v_tmp = c(11,1,2,3,0,4)
inds = order( v_tmp )
v_tmp[inds]

[1]  0  1  2  3  4 11

In [176]:
v_tmp = c(11,1,2,3,0,4)
inds = rev( order( v_tmp ) )
v_tmp[inds]

[1] 11  4  3  2  1  0

In [177]:
# or a trick by negating values
v_tmp = c(11,1,2,3,0,4)
inds = order( -1*v_tmp )
v_tmp[inds]

[1] 11  4  3  2  1  0

## unique

In [178]:
unique( c(1,11,11,2,22,22,222) )

[1]   1  11   2  22 222

## NA

In [179]:
v1 = c(10,20,30,40,50)
v1

[1] 10 20 30 40 50

In [180]:
is.na(v1)

[1] FALSE FALSE FALSE FALSE FALSE

In [181]:
v1[1] = NA
v1

[1] NA 20 30 40 50

In [182]:
is.na(v1)

[1]  TRUE FALSE FALSE FALSE FALSE

In [183]:
# normal operations do not work on NA
v1[1] == NA

[1] NA

In [184]:
# normal operations do not work on NA
which( v1 == NA )

integer(0)

In [185]:
which( v1 == 20 )

[1] 2

In [186]:
NA == NA

[1] NA

In [179]:
is.na(NA) == is.na(NA)

[1] TRUE

In [181]:
which( is.na(v1) )

integer(0)

In [186]:
v1 = c(NA,1,2,3)

In [187]:
#remove NA
NA_ind = which( is.na(v1) )
v1 = v1[ -NA_ind ]
v1
print(v1)

[1] 1 2 3

[1] 1 2 3

In [188]:
v1 = c(10,20,30,40,50)
v1[c(2,4)] = NA

In [189]:
v1

[1] 10 NA 30 NA 50

In [190]:
NA_inds = which( is.na(v1) )
v1 = v1[ -NA_inds ]
v1

[1] 10 30 50

In [191]:
v1 = c(10,20,30,40,50)
v1[c(2,4)] = NA

In [192]:
v1 = na.omit(v1)

In [193]:
v1

[1] 10 30 50
attr(,"na.action")
[1] 2 4
attr(,"class")
[1] "omit"

In [194]:
v1 = c(10,20,30,40,50)
v1[c(2,4)] = NA

In [196]:
1 > 1

[1] FALSE

#  <span style="color:orange">DataFames</span>

In [201]:
dfTmp = data.frame(  c("alex", "bob", "cat", "derek", "eric"),   c(25, 30, 35, 40, 45) )
print(dfTmp)

  c..alex....bob....cat....derek....eric.. c.25..30..35..40..45.
1                                     alex                    25
2                                      bob                    30
3                                      cat                    35
4                                    derek                    40
5                                     eric                    45

In [202]:
names(dfTmp)

[1] "c..alex....bob....cat....derek....eric.."
[2] "c.25..30..35..40..45."

In [209]:
names(dfTmp) = c("names Cool", "ages")

In [214]:
rownames(dfTmp) = c("a","b","c","d","e")

In [215]:
colnames(dfTmp) = c("col1","col2")

In [216]:
dfTmp

  col1  col2
a alex  25
b bob   30
c cat   35
d derek 40
e eric  45

In [217]:
is.data.frame(dfTmp)

[1] TRUE

In [218]:
is.list(dfTmp)

[1] TRUE

In [219]:
class(dfTmp)

[1] "data.frame"

In [220]:
typeof(dfTmp)

[1] "list"

In [221]:
names( dfTmp ) = NULL

In [222]:
print( dfTmp )

a  alex 25
b   bob 30
c   cat 35
d derek 40
e  eric 45

In [223]:
rownames(dfTmp)

[1] "a" "b" "c" "d" "e"

In [224]:
df1 = data.frame( name = c("alex", "bob", "cat"), age = c(25, 30, 35) )
print(df1)

  name age
1 alex  25
2  bob  30
3  cat  35

In [225]:
rownames(df1)

[1] "1" "2" "3"

In [226]:
colnames(df1)

[1] "name" "age"

In [227]:
rownames(df1) = c('first','second','third')
df1

       name age
first  alex 25
second bob  30
third  cat  35

In [228]:
df1 = data.frame( name = c("alex", "bob", "cat"), age = c(25, 30, 35) )
print(df1)

  name age
1 alex  25
2  bob  30
3  cat  35

In [229]:
names = c("alice", "bob", "cat")
ages = c(25, 30, 35)
df2 = data.frame(name = names, age = ages)
df2

  name  age
1 alice 25
2 bob   30
3 cat   35

In [230]:
names( df2 ) = c('First Name', 'Age')
df2

  First Name Age
1 alice      25
2 bob        30
3 cat        35

In [242]:
df2[, "Age"]

[1] 25 30 35

In [231]:
class(df2['First Name'])

[1] "data.frame"

In [232]:
class(df2$'First Name')

[1] "character"

In [211]:
as.character(df2$'First Name')

[1] "alice" "bob"   "cat"

In [212]:
as.numeric(df2$'First Name')

Warning message:
“NAs introduced by coercion”

[1] NA NA NA

In [213]:
as.factor(df2$Age)

[1] 25 30 35
Levels: 25 30 35

In [243]:
df2$Age = as.factor(df2$Age)
df2$`First Name` = as.factor(df2$`First Name`)
df2

  First Name Age
1 alice      25
2 bob        30
3 cat        35

In [244]:
df2$'First Name' = as.character(df2$'First Name')
df2

  First Name Age
1 alice      25
2 bob        30
3 cat        35

In [245]:
names = c("alice", "bob", "cat")
ages = c(25, 30, 35)
df2 = data.frame(name = names, age = ages, stringsAsFactors = FALSE)
names( df2 ) = c('First Name', 'Age')
df2

  First Name Age
1 alice      25
2 bob        30
3 cat        35

In [246]:
dff = data.frame(pplnames=c("alex","bob","cat"), luckynumbrz=c(12,44,51), pc=c(1,344,43))
dff

  pplnames luckynumbrz pc
1 alex     12            1
2 bob      44          344
3 cat      51           43

In [218]:
names(dff)

[1] "pplnames"    "luckynumbrz" "pc"

In [219]:
is.list(dff["pc"])

[1] TRUE

In [220]:
# empty data frame
df3 = data.frame(name = character(0), age = numeric(0))
df3

     name age

In [221]:
df3[,1]

character(0)

In [222]:
new_row = data.frame( name = 'derek', age = '80' )
print( new_row )

   name age
1 derek  80

In [223]:
df3 = rbind( df3, new_row )
df3

  name  age
1 derek 80

In [224]:
df3 = rbind( df3, new_row )
df3

  name  age
1 derek 80
2 derek 80

In [225]:
df2 = rbind( df2, new_row )
df2

ERROR: Error in match.names(clabs, names(xi)): names do not match previous names

In [28]:
df1 = rbind( df1, new_row )
df1

  name  age
1 alex  25
2 bob   30
3 cat   35
4 derek 80

In [29]:
new_col = data.frame(human = c(TRUE,TRUE,TRUE,FALSE) )
new_col

  human
1  TRUE
2  TRUE
3  TRUE
4 FALSE

In [30]:
# add column
df1 = cbind( df1, new_col )
df1

  name  age human
1 alex  25   TRUE
2 bob   30   TRUE
3 cat   35   TRUE
4 derek 80  FALSE

In [31]:
df1$human = c(TRUE,TRUE,FALSE,FALSE) 
df1

  name  age human
1 alex  25   TRUE
2 bob   30   TRUE
3 cat   35  FALSE
4 derek 80  FALSE

In [32]:
new_col = data.frame(lazy = c(F,F,T,T) )
new_col

  lazy
1 FALSE
2 FALSE
3  TRUE
4  TRUE

In [33]:
# add column
df1 = cbind( df1, new_col )
df1

  name  age human lazy
1 alex  25   TRUE FALSE
2 bob   30   TRUE FALSE
3 cat   35  FALSE  TRUE
4 derek 80  FALSE  TRUE

In [34]:
df1$new_col = NULL
df1

  name  age human lazy
1 alex  25   TRUE FALSE
2 bob   30   TRUE FALSE
3 cat   35  FALSE  TRUE
4 derek 80  FALSE  TRUE

In [35]:
new_row = c( name = 'eric', age = '30', human = T )
new_row

  name    age  human
"eric"   "30" "TRUE"

In [36]:
rbind( df1, new_row )

Warning message in rbind(deparse.level, ...):
“number of columns of result, 4, is not a multiple of vector length 3 of arg 2”

  name  age human lazy
1 alex  25  TRUE  FALSE
2 bob   30  TRUE  FALSE
3 cat   35  FALSE TRUE
4 derek 80  FALSE TRUE
5 eric  30  TRUE  eric

In [37]:
df1[,2] = as.numeric(df1[,2]) + 1
df1

  name  age human lazy
1 alex  26   TRUE FALSE
2 bob   31   TRUE FALSE
3 cat   36  FALSE  TRUE
4 derek 81  FALSE  TRUE

In [38]:
df1$lazy = as.numeric(df1[,4])
df1

  name  age human lazy
1 alex  26   TRUE 0
2 bob   31   TRUE 0
3 cat   36  FALSE 1
4 derek 81  FALSE 1

In [39]:
df1$lazy = as.logical(df1[,4])
df1

  name  age human lazy
1 alex  26   TRUE FALSE
2 bob   31   TRUE FALSE
3 cat   36  FALSE  TRUE
4 derek 81  FALSE  TRUE

In [40]:
df1 = df1[c(-2),]
df1

  name  age human lazy
1 alex  26   TRUE FALSE
3 cat   36  FALSE  TRUE
4 derek 81  FALSE  TRUE

In [41]:
ctmp = data.frame( lazy = c(TRUE,TRUE,FALSE) )
tmp1 = cbind(df1,ctmp)
tmp1

  name  age human lazy  lazy
1 alex  26   TRUE FALSE  TRUE
3 cat   36  FALSE  TRUE  TRUE
4 derek 81  FALSE  TRUE FALSE

In [43]:
names(tmp1)

[1] "name"  "age"   "human" "lazy"  "lazy"

In [44]:
tmp1$lazy

[1] FALSE  TRUE  TRUE

In [45]:
tmp1[,5]

[1]  TRUE  TRUE FALSE

In [46]:
names(tmp1)

[1] "name"  "age"   "human" "lazy"  "lazy"

In [47]:
df1 = df1[,c(1,2)]
df1

  name  age
1 alex  26
3 cat   36
4 derek 81

In [48]:
dim( df1 )

[1] 3 2

In [49]:
dim( df1 )[1]

[1] 3

In [50]:
nrow( df1 )

[1] 3

In [51]:
df1 = df1[ c(-(1:nrow(df1))) , ]
df1

     name age

In [52]:
nrow(df1)

[1] 0

In [53]:
names = c("alice", "bob", "cat")
ages = c(25, 30, 35)
df2 = data.frame(name = names, age = ages)
df2

  name  age
1 alice 25
2 bob   30
3 cat   35

In [54]:
df1 = data.frame( name = c("derek", "eric"), age = c(90, 35) )
print(df1)

   name age
1 derek  90
2  eric  35

In [225]:
df2 = rbind( df2, df1 )
df2

  name  age
1 alice 25
2 bob   30
3 cat   35
4 derek 90
5 eric  35

In [57]:
df2

  name  age
1 alice 25
2 bob   30
3 cat   35

In [258]:
dfTmp[ which( rownames(dfTmp) == "b" ), ]

  [,1] [,2]
b bob  30

In [260]:
#loop over elements in dataframe
for( name in rownames(dfTmp) ) {
    print(name)
}

[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "e"

In [59]:
df2$name = c("a","b","c")

In [60]:
df2

  name age
1 a    25
2 b    30
3 c    35

In [61]:
#loop over columns in dataframe
for( row_num in 1:nrow(df2) ) {
    df2[row_num,1] = paste( df2[row_num,1] , "- cool" )
    #print(row_num)
}
df2

  name     age
1 a - cool 25
2 b - cool 30
3 c - cool 35

In [62]:
for( col_num in 1:ncol(df2) ) {
    if( names(df2)[col_num] == "age" ) {
        print( df2[col_num] * 2 )
        df2[col_num] = df2[col_num] * 2
    }
}

print( df2 )

  age
1  50
2  60
3  70
      name age
1 a - cool  50
2 b - cool  60
3 c - cool  70

In [63]:
str_tmp = "alice cool"

In [65]:
strsplit("alex is my name, hello people", " ")

[[1]]
[1] "alex"   "is"     "my"     "name,"  "hello"  "people"

In [73]:
str = strsplit("alex is my name, hello people", " ")
str[[1]][2]

[1] "is"

In [244]:
unlist(strsplit(str_tmp, " "))[1]

[1] "alice"

In [74]:
#loop over columns in dataframe
for( row_num in 1:nrow(df2) ) {
    df2[row_num,1] = unlist(strsplit(  df2[row_num,1]  , " "))[1]
}
df2

  name age
1 a    50
2 b    60
3 c    70

# <span style="color:orange">LISTS</span>

In [274]:
l1 = list(name="alex", age=18, scores=c(98, 99, 60))
l1

$name
[1] "alex"

$age
[1] 18

$scores
[1] 98 99 60

In [275]:
names(l1)

[1] "name"   "age"    "scores"

In [276]:
l1[1]

$name
[1] "alex"

In [277]:
l1[[1]]

[1] "alex"

In [278]:
unlist(l1[1])

  name
"alex"

In [279]:
l1$name

[1] "alex"

In [280]:
l1$scores

[1] 98 99 60

In [281]:
l1[["name"]]

[1] "alex"

In [282]:
l1$state = 'FL'
l1

$name
[1] "alex"

$age
[1] 18

$scores
[1] 98 99 60

$state
[1] "FL"

In [283]:
df1

  name age
1 alex 25
2 bob  30
3 cat  35

In [284]:
l1$df1 = df1
l1

$name
[1] "alex"

$age
[1] 18

$scores
[1] 98 99 60

$state
[1] "FL"

$df1
  name age
1 alex  25
2  bob  30
3  cat  35

In [286]:
is.data.frame(l1[[5]])

[1] TRUE

In [287]:
dim(l1[[5]])

[1] 3 2

In [288]:
nrow(l1[[5]])

[1] 3

In [289]:
l1['country'] = "USA"
l1

$name
[1] "alex"

$age
[1] 18

$scores
[1] 98 99 60

$state
[1] "FL"

$df1
  name age
1 alex  25
2  bob  30
3  cat  35

$country
[1] "USA"

In [290]:
l1['scores'] = NULL
l1

$name
[1] "alex"

$age
[1] 18

$state
[1] "FL"

$df1
  name age
1 alex  25
2  bob  30
3  cat  35

$country
[1] "USA"

In [291]:
l2 = list(pet="parrot",color="green")
l2

$pet
[1] "parrot"

$color
[1] "green"

In [292]:
l1 = c(l1,l2)
l1

$name
[1] "alex"

$age
[1] 18

$state
[1] "FL"

$df1
  name age
1 alex  25
2  bob  30
3  cat  35

$country
[1] "USA"

$pet
[1] "parrot"

$color
[1] "green"

In [293]:
#lsit of lists
l3 = list(os="linux",flavor="ubuntu")
l3

$os
[1] "linux"

$flavor
[1] "ubuntu"

In [294]:
l1 = list(computer=l3,l1)
l1

$computer
$computer$os
[1] "linux"

$computer$flavor
[1] "ubuntu"


[[2]]
[[2]]$name
[1] "alex"

[[2]]$age
[1] 18

[[2]]$state
[1] "FL"

[[2]]$df1
  name age
1 alex  25
2  bob  30
3  cat  35

[[2]]$country
[1] "USA"

[[2]]$pet
[1] "parrot"

[[2]]$color
[1] "green"

In [299]:
l1[[1]]

$os
[1] "linux"

$flavor
[1] "ubuntu"

In [295]:
names(l1)

[1] "computer" ""

In [269]:
names(l1)[2] = "personal"
l1

$computer
$computer$os
[1] "linux"

$computer$flavor
[1] "ubuntu"


$personal
$personal$name
[1] "alex"

$personal$age
[1] 18

$personal$state
[1] "FL"

$personal$df1
   name age
1 derek  90
2  eric  35

$personal$country
[1] "USA"

$personal$pet
[1] "parrot"

$personal$color
[1] "green"

In [300]:
fun1 = function(x,y) {
    return( sqrt( x^2 + y^2 ) )
}

In [303]:
fun1(3,4)

[1] 5

In [304]:
l1$myFn = fun1

In [305]:
l1

$computer
$computer$os
[1] "linux"

$computer$flavor
[1] "ubuntu"


[[2]]
[[2]]$name
[1] "alex"

[[2]]$age
[1] 18

[[2]]$state
[1] "FL"

[[2]]$df1
  name age
1 alex  25
2  bob  30
3  cat  35

[[2]]$country
[1] "USA"

[[2]]$pet
[1] "parrot"

[[2]]$color
[1] "green"


$myFn
function (x, y)
{
    return(sqrt(x^2 + y^2))
}
<bytecode: 0x55d75956ace8>

In [307]:
l1[['myFn']](3,4)

[1] 5

In [308]:
typeof(l1[['myFn']])

[1] "closure"

In [309]:
class(l1[['myFn']])

[1] "function"

In [249]:
f1 = l1[['myFn']]
print( f1 )

function (x, y)
{
    return(sqrt(x^2 + y^2))
}
<bytecode: 0x55f7a5b63148>

In [310]:
f1(3,4)

ERROR: Error in f1(3, 4): could not find function "f1"

In [311]:
dist2 = function(x1,x2,y1,y2) {
    return(sqrt( sum( (x1-x2) ^ 2 + (y1-y2) ^ 2 ) ))
}

In [312]:
dist2(3,0,4,0)

[1] 5

In [ ]:
# <span style="color:orange">LISTS</span>

 # <span style="color:orange">CLASS QUESTIONS</span>

### 1
 - temperatures in Celsius: 25, 30, 28, 35, 32 (F=C×95+32F=C×59​+32). answer is (Fahrenheit vector is: 77, 86, 82.4, 95, 89.6) make a function for this
 
### 2
- You have the following data for three people:

| Name    | Age | Score |
|---------|-----|-------|
| Alice   | 24  | 85    |
| Bob     | 30  | 90    |
| Charlie | 27  | 88    |

- Create a data frame with this information. Add a new column, `Passed`, which is `TRUE` if the score is above 85 and `FALSE` 

| Name    | Age | Score | Passed |
|---------|-----|-------|--------|
| Alice   | 24  | 85    | FALSE  |
| Bob     | 30  | 90    | TRUE   |
| Charlie | 27  | 88    | TRUE   |

### 3
store a list containing:
1. A numeric vector: `1, 2, 3, 4, 5`.
2. char vector: `cat, dog, rabbit`.
3. matrix of size 2x2:  
    ```
    1  2
    3  4
    ```

The list should look like this:
```r
$numbers
[1] 1 2 3 4 5

$animals
[1] "cat"    "dog"    "rabbit"

$matrix
     [,1] [,2]
[1,]    1    2
[2,]    3    4
```

### 4
make a nested list where:
- first element is a numeric vector `10, 20, 30`.
- second element is a data frame:

| Item    | Price |
|---------|-------|
| Apple   | 3     |
| Banana  | 2     |
| Cherry  | 5     |

nested list should look like this:
```r
[[1]]
[1] 10 20 30

[[2]]
    Item   Price
1   Apple    3
2   Banana   2
3   Cherry   5
```

### 5
data frame:

| Fruit     | Weight (kg) | Price ($) |
|-----------|-------------|-----------|
| Apple     | 1.5         | 3         |
| Banana    | 1.0         | 1         |
| Cherry    | 0.5         | 5         |
| Watermelon| 3.0         | 7         |

- Extract the names of fruits that weigh more than 1 kg and cost less than $5.
- The result is a character vector: `"Apple"`.